
#header-nav {
  background-color: grey;
  border-radius: 0;
  border: 0;
}
.navbar-brand h1 { /* Restaurant name */
  font-family: 'Lora', serif;
  color: #035524;;
  font-size: 1.5em;
  font-weight: bold;
  text-shadow: 1px 1px 1px lightgreen;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.container{
	margin-left: auto;
	margin-right: auto;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: yellow;
  text-align: center;
}
#nav-list a:hover {
  background: lightgreen;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #035524;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}
#menu-categories-title{
font-family: 'Lora', serif;
  color: lightyellow;
  font-size: 2.9em;
  font-weight: bold;
}
.menu-item-title{
	text-align: center;
	font-family: 'Oxygen', serif;
  color: red;
  font-size: 1.7em;
  font-weight: bold italic;

}
.menu-item-details{
text-align: justify;
	font-family: 'Lora', serif;
  color: red;
  font-size: 1.2em;
  font-weight: italic;
}
.menu-item-description{
	background-color: lightgreen;
}
.row{
margin-right: 0;
margin-left: 0;
}
/********** Large devices only **********/
@media (min-width: 1200px) {
   .container{
   	width:90%;
   }
   
 }  


/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
 

  /* Home Page */
  /* End Home Page */
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  /* Home Page */

  /* End Home Page */
}

/********** Extra small devices only **********/
@media (max-width: 767px) {
  /* Header */

  .navbar-brand h1 { /* Restaurant name */
    padding-top: 10px;
    font-size: 5vw; /* 1vw = 1% of viewport width */
  }

  #collapsable-nav a { /* Collapsed nav menu text */
    font-size: 1.2em;
  }

  /* End Header */


  /* Home Page */
   {
    margin-top: 30px;
    padding: 0;
  }
  #menu-tile, #specials-tile {
    width: 360px;
    margin: 0 auto 15px;
  }
  .menu-item-description {
    text-align: center;;
  }
}


/********** Super extra small devices Only :-) (e.g., iPhone 4) **********/
@media (max-width: 479px) {
  /* Header */
  .navbar-brand h1 { /* Restaurant name */
    padding-top: 5px;
    font-size: 6vw;
  }
  /* End Header */
  
  /* Home page */

  .col-xxs-12 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
    width: 100%;
  }
}


